@media (min-width: 768px) {

  header {
    text-align: center;
  }

  /* NAV UNDER SITE NAME SPREAD LIKE SECTION */
  #navMenu {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    background: #222;
    padding: 10px;
  }

  #navMenu a {
    padding: 10px 20px;
  }

  /* ABOUT + PHOTO SIDE BY SIDE */
  .grid-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }

  /* COURSES GRID */
  #courseContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
