body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

/* HEADER */
header {
  text-align: center;
  background: #111;
  color: white;
  padding: 15px;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 60px;
}

/* NAV UNDER SITE NAME */
#navMenu {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#navMenu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  background: #222;
}

/* MAIN */
main {
  padding: 15px;
}

/* CARDS (About + Photo + Courses) */
.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.card h2 {
  background: #222;
  color: white;
  padding: 10px;
  margin: -15px -15px 15px -15px;
}

/* PHOTO */
.card img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

/* COURSES */
#courseContainer {
  display: grid;
  gap: 10px;
}

.course-card {
  background: #ddd;
  padding: 10px;
  text-align: center;
}

.completed {
  background: #004080;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}
